doctype html
html(lang="it")
  include //includes/head.jade  
  body#page-top(data-spy="scroll", data-target=".navbar-fixed-top")
    include //includes/googleAnalytics.html
    include //includes/nav.jade
    include //includes/header.jade
    include //includes/about.jade
    include //includes/contact.jade
    #map
    include //includes/footer.jade
