section#contact.container.content.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      h3 Contattaci
      p Per informazioni o per richiedere un appuntamento
      p
        a(href="mailto:info@salonenewstyle.com") info@salonenewstyle.com
      ul.list-inline.banner-social-buttons
        li
          a.btn.btn-default.btn-lg(href="https://www.facebook.com/salonenewstyleloft", target="_blank")
            i.fa.fa-facebook.fa-fw
            span.network-name Facebook
        li
          a.btn.btn-default.btn-lg(href="https://plus.google.com/115689433411519820293/about", target="_blank")
            i.fa.fa-google-plus.fa-fw
            span.network-name Google +
      p
      p Via Antiche Mura 2, 30016 Jesolo VE
      p
      p +39 0421 38 00 15
      p +39 327 53 64 519
