header.intro
  .intro-body
    .container
      .row
        .col-md-8.col-md-offset-2
          h1.brand-heading Salone
            br
            | New Style
          h2.intro-text Parrucchieri Uomo e Donna, Estetica
          a.btn.btn-circle.page-scroll
            i.fa.fa-angle-double-down.animated
