head
  title Salone New Style - loft
  meta(charset="UTF-8")
  meta(name="description", content="Salone New Style Loft, parrucchieri uomo e donna, estetica. Di Christian Gerotto Jesolo Paese 30016, VE (Italia)")
  meta(name="keywords", content="")
  meta(name="author", content="Alessandro Serafini")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  
  link(rel="stylesheet", type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
  link(rel="stylesheet", type="text/css", href="css/grayscale.css")
  link(href="font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
  
  link(rel="icon", href="img/icon.png", type="image/png")
  
  script(src="http://code.jquery.com/jquery-1.12.0.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
  script(src="https://maps.googleapis.com/maps/api/js")
  script(src="js/grayscale.js")
  script(src="js/custom-scripts.js")
